.loading-screen {
  position: fixed;
  z-index: 5;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
}

.loading-wrapper {
  display: flex;
  justify-content: center;
}
.loading-wrapper h1, .loading-wrapper i {
  color: #f90;
}
.loading-wrapper h1 {
  margin: 10px;
  font-size: 50px;
}
.loading-wrapper .circles {
  display: flex;
}
.loading-wrapper .circles i {
  display: inline;
  margin: 3px;
  margin-top: 40px;
  position: relative;
  -webkit-animation: jump 2s linear 0s infinite;
          animation: jump 2s linear 0s infinite;
}
.loading-wrapper .circles i:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.loading-wrapper .circles i:nth-child(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #f90;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes drop {
  from {
    top: -20px;
  }
  to {
    top: 0;
  }
}
@keyframes drop {
  from {
    top: -20px;
  }
  to {
    top: 0;
  }
}
.fade-in-animation {
  -webkit-animation: fade-in 2s;
          animation: fade-in 2s;
}

.drop-animation {
  -webkit-animation: drop 1s;
          animation: drop 1s;
}

@-webkit-keyframes jump {
  from {
    top: 0;
  }
  20% {
    top: -20px;
  }
  40% {
    top: 0;
  }
  to {
    top: 0;
  }
}

@keyframes jump {
  from {
    top: 0;
  }
  20% {
    top: -20px;
  }
  40% {
    top: 0;
  }
  to {
    top: 0;
  }
}
* {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  color: white;
}

body {
  background: #393939;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
nav h1 {
  margin: 20px;
  color: #f90;
  font-size: clamp(16px, 3vw, 30px);
  cursor: pointer;
}
nav ul li {
  display: inline;
  margin: clamp(5px, 1vw, 20px);
  font-size: clamp(14px, 1vw, 18px);
}
nav ul li a {
  cursor: pointer;
  padding: clamp(2px, 1vw, 10px);
  border-radius: 8px;
}
nav ul li a:hover {
  background: white;
  color: black;
}

#introduction {
  margin-left: 10vw;
  position: relative;
  top: 50%;
  transform: translateY(-100%);
  white-space: nowrap;
  font-size: 40px;
}
#introduction h1 {
  font-size: clamp(16px, 7vw, 60px);
}
#introduction span.name {
  color: #f90;
}
#introduction .container {
  display: flex;
  flex-direction: row;
}
#introduction span.dev-title {
  white-space: nowrap;
  margin: 0;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  from {
    border-right: 2px solid white;
    margin-right: 0;
  }
  49% {
    border-right: 2px solid white;
    margin-right: 0;
  }
  50% {
    border-right: none;
    margin-right: 2px;
  }
  to {
    border-right: none;
    margin-right: 2px;
  }
}

@keyframes blink {
  from {
    border-right: 2px solid white;
    margin-right: 0;
  }
  49% {
    border-right: 2px solid white;
    margin-right: 0;
  }
  50% {
    border-right: none;
    margin-right: 2px;
  }
  to {
    border-right: none;
    margin-right: 2px;
  }
}
@-webkit-keyframes type {
  from {
    max-width: 0%;
  }
  20% {
    max-width: 100%;
  }
}
@keyframes type {
  from {
    max-width: 0%;
  }
  20% {
    max-width: 100%;
  }
}
.full-size {
  height: 100vh;
  width: 100%;
}

.section1 {
  position: relative;
  z-index: 3;
}

.image-container {
  position: absolute;
  background: url("../images/background2.png") no-repeat;
  background-size: cover;
  background-position: 80%;
  filter: brightness(70%);
}

.image-overlay-container {
  position: absolute;
}

i.down-icon {
  position: absolute;
  color: #f90;
  left: 50%;
  bottom: 1%;
  cursor: pointer;
  z-index: 4;
  -webkit-animation: icon-bounce 1s infinite;
          animation: icon-bounce 1s infinite;
}

@-webkit-keyframes icon-bounce {
  from {
    bottom: 1%;
  }
  50% {
    bottom: 2%;
  }
  to {
    bottom: 1%;
  }
}

@keyframes icon-bounce {
  from {
    bottom: 1%;
  }
  50% {
    bottom: 2%;
  }
  to {
    bottom: 1%;
  }
}
#projects h1 {
  text-align: center;
  padding: 50px 0;
  font-size: 40px;
}
#projects p {
  text-align: center;
}
#projects div.project {
  border-top: 10px #00f444 solid;
  border-bottom: 10px #00f444 solid;
  display: flex;
  flex-direction: column;
}
#projects div.project h1 {
  font-size: 30px;
  padding: 20px;
}
#projects div.project a {
  display: block;
}
#projects div.project img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 60%;
  transition: all 0.5s;
}
#projects div.project .imageContainer {
  border: none;
  position: relative;
}
#projects div.project .btnView {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  width: 100px;
  height: 100px;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  filter: drop-shadow(2px 4px 7px black);
}
#projects div.project .btnView:hover {
  background: #222;
}
#projects div.project .btnView p {
  font-size: 24px;
}
#projects div.project div.imageContainer:hover div.btnView {
  opacity: 1;
}/*# sourceMappingURL=index.css.map */