@import "loading";
@import "components";
*{
    margin:0;
    font-family:sans-serif;
    color:white;
}

body{
    background:#393939;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    // animation:drop 1s;
    h1{
        margin:20px;
        color:#f90;
        font-size:30px;
    }

    ul{
        // padding-left:70%;
        li{
            display: inline;
            margin:40px;
            
        }
    }
}

#introduction{
    margin-top:15vw;
    margin-left:10vw;
    white-space: nowrap;
    font-size:40px;
    // animation:fade-in 2s;

    h1{
        font-size:60px;
    }

    span.name{
        color:#f90;
    }

    .container{
        display: flex;
        flex-direction: row;

        h1:nth-child(1){
            margin-right:30px;
        }
    }

    h1.dev-title{
        display: inline-block;
        // width:;
        overflow:hidden;
        animation:blink 1s infinite,type 10s infinite;
        white-space:nowrap;
        margin:0;
    }

    

    @media screen and(max-width:1000px){
        font-size:30px;
        // margin-top:
    }
}

@keyframes blink{
    from{
        border-right:2px solid white;
    }
    49%{
        border-right:2px solid white;
    }
    50%{
        border-right:none;
    }
    to{
        border-right:none;
    }
}

@keyframes type{
    from{
        max-width:0;
    }
    30%{
        max-width:100%;
    }
}

.full-size{
    height:100vh;
    width:100%;
}

.section1{
    position:relative;
    // filter:brightness(60%)
    // overflow:hidden;
    // position:absolute;
    z-index:3;
}

.image-container{
    position: absolute;
    background:url("../images/background2.png")  no-repeat;
    background-size:cover;
    // z-index:1;
    filter:brightness(70%); 
}
.image-overlay-container{
    position:absolute;
    // z-index:2;
    // background:linear-gradient(to top,black ,rgba(0,0,0,0));
}






#projects{
    // margin-top:100vh;
    $border-color:#00f444;

    h1{
        text-align:center;
        margin:50px auto;
        font-size:40px;
    }
    p{
        text-align: center;
    }
    div.project{
        border-top:10px  $border-color solid;
        border-bottom:10px $border-color  solid;

        display: flex;
        flex-direction:column;

        h1{
            font-size:30px;
            margin:20px;
        }
        a{
            display: block;
        }
        img{
            // margin:10px auto;
            position:relative;
            left:50%;
            transform: translateX(-50%);
            max-width: 60%;
            transition: all 0.5s;
            &:hover{
                // transform:translateX(-50%) scale(1.02);
            }
        }
        .imageContainer{
            border:none;
            position: relative;

        }
        .btnView{
            opacity:0;
            position:absolute;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
            border:none;
            width:100px;
            height:100px;
            background:#333;
            border-radius: 50%;

            cursor:pointer;
            
            display: flex;
            align-items: center;
            justify-content: center;

            transition: all 0.3s;
            filter:drop-shadow(2px 4px 7px black);

            &:hover{
                background:#222;
            }

            p{
                font-size:24px;
            }

        
        }
        div.imageContainer:hover  div.btnView{
            opacity: 1;
            // background:red;
        }
        
        
    }
}



