
*{
    margin:0;
    font-family:sans-serif;
    color:white;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    animation:drop 1s;
    h1{
        margin:20px;
        color:#f90;
    }

    ul{
        // padding-left:70%;
        li{
            display: inline;
            margin:40px;
            
        }
    }
}

#introduction{
    margin-top:15vw;
    margin-left:10vw;
    white-space: nowrap;
    font-size:40px;
    animation:fade-in 2s;
    span{
        color:#f90;
    }

    @media screen and(max-width:1000px){
        font-size:30px;
        // margin-top:
    }
}


@keyframes fade-in{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}


@keyframes drop{
    from{
        top:-20px;
    }
    to{
        top:0
    }
}

.background-image{
    
    height:100vh;
    width:100%;
    // filter:brightness(60%)
    // overflow:hidden;
    // position:absolute;
    // z-index:-1;
}

.image-container{
    position: absolute;
    background:url("../images/background2.jpg")  no-repeat;
    background-size:cover;
    z-index:-1;
    filter:brightness(50%); 
}

#projects{
    margin-top:100vh;
}
